*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button {
border: none;
transition: all ease 1s;
z-index: 2;
cursor: pointer;
}

a{
    color: #333333;
    text-decoration: none;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    height: 6040px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 50;
    overflow: hidden;
}

.rdnpt{
    color: #DB7878;
    margin-top: 5px;
    display: none;
    font-family: Source Sans Pro;
    font-size: 12px;
}

header{
    width: 1035px;
     height: 93px;
     margin: 25px 205px 0 205px;
 }
 
 .header__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header__button{
    width: 190px;
     height: 53px;
     border-radius: 6px;
     color: white;
     background-color: #697E70;
     text-transform: uppercase;
     opacity: 0.8;
     font-family: Source Sans Pro;
     font-size: 20px;
 }
 
 .header__button:hover{
     opacity: 1;
 }
 
 .header__logo{
     margin-left: 203px;
 }
 
 .menu__menu{
     padding-right: 32px;
     font-family: Source Sans Pro;
     font-size: 20px;
 }
 
 .menu{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     color: #333333;
     font-weight: lighter;
     margin-left: 270px;
     cursor: pointer;
 }
 
 .menu__menu__btn {
     display: flex; 
     align-items: center;
     position: relative;
     width: 26px;
     height: 26px;
   }
 
   .menu__menu__btn-close{
     display: flex; 
     align-items: center;
     position: relative;
     width: 26px;
     height: 26px;
   }
 
 .menu__menu__btn-close > span,
   .menu__menu__btn-close > span::before{
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #616161;
   transform: rotate(45deg);
 }
 .menu__menu__btn-close > span::before {
   content: '';
   transform: rotate(90deg);
 }
 
 .navbar{
     position: absolute;
     top: 0;
     width: 359px;
     padding-left: 40px;
     padding-top: 59px;
     height: 800px;
     overflow-y: auto;
     right: 0;
     z-index: 100;
     display: none;
     background-color: white;
 }
 
 .menu__menu__btn > span,
 .menu__menu__btn > span::before{
   display: block;
   position: relative;
   width: 100%;
   height: 1px;
   background-color: #616161;
 }
 
 .navbar>ul{
     margin-top: 49px;
 }
 
 .navbar>ul>li{
 margin-top: 26px;
 font-family: Source Sans Pro;
 font-size: 30px;
 letter-spacing: 3px;
 line-height: 43px;
 opacity: 0.6;
 color: #333333;
 font-weight: lighter;
 }
 
 .navbar>ul>li:hover{
    opacity: 0.8;
     }
 
 .navbar>ul>li:nth-child(4){
     opacity: 1; 
     font-weight: normal;
 }

 .menu__menu__btn > span::before {
   content: '';
   top: -3px;
 }
.menu__menu__btn {
    display: flex; 
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
  }

  .menu__menu__btn-close{
    display: flex; 
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
  }
.menu__menu__btn > span::before {
  content: '';
  top: -3px;
}

.navbar__link__green{
    color: #697E70;
}

.navbar__button{
    width: 190px;
    height: 60px;
    border-radius: 7px;
    background-color: #697E70;
    color: white;
    margin-top: 123px;
    font-family: Source Sans Pro;
    font-size: 20px;
    letter-spacing: 1px;
}

.jesus{
    position: absolute;
    top: 20px;
    right: 45px;
    height: 26px;
    width: 26px;
}

.jesus > span,
.jesus > span::before{
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: rotate(45deg);
}
.jesus > span::before {
  content: '';
  top: 0;
  transform: rotate(90deg);
}

.leisure{
    margin-left: 205px;
}

.title{
margin: 215px 0 0 205px;
}

.title__title{
    font-size: 40px;
    padding-top: 205px;
    letter-spacing: 3px;
    font-family: Source Sans Pro;
    opacity: 0.8;
    color: #333333;
}

.title__text{
    margin-top: 15px;
    line-height: 32px;
    letter-spacing: 1px;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: lighter;
    color: #333333;
}


.form{
    margin: 128px 0px 0 205px;
    max-width: 1030px;
    max-height: 377px;
    display: flex;
}

.form__title{
    max-height: 100%;
    display: flex;
    justify-content: center;
    max-width: 630px;
    flex-direction: column;
}

.form__title__title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Source Sans Pro;
    width: 110%;
    opacity: 0.8;
}

.form__title__text{
    margin-top: 15px;
    color: #333333;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-size: 20px;
    width: 120%;
    font-weight: lighter;
}

.form__form{
width: 400px;
display: flex;
flex-direction: column;
margin-left: 158px;
}

.form__form__input{
width: 400px;
height: 40px;
border: none;
border-bottom: 1px solid #707070;
margin-top: 20px;
outline: none;
transition: all ease 0.25s;
}

.greenbird{
background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Icon feather-check.svg') no-repeat 365px;
border: 2px solid #319352;
border-radius: 5px;
background-color: white;
}

.redjesus{
background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 18.svg') no-repeat 365px,
 url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 17.svg') no-repeat 365px;
 border: 2px solid #DB7878;
 border-radius: 5px;
 background-color: white;
}

.keyup-popup{
border-radius: 5px;
background-color: white;
}

.popup__keyup-popup{
border: none;
border-bottom:  2px solid #DEDEDE;
border-radius: 5px;
background-color: inherit;
}

.form__form__input:first-child{
margin-top: none;
}

.form__form__button{
display: flex;
align-items: center;
justify-content: center;
background-color: #697E70;
margin-top: 50px;
opacity: 0.2;
color: white;
min-height: 60px;
border-radius: 5px;
transition: all 1s ease;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-size: 20px;
}

.form__form__button:hover{
opacity: 1;
}

.form__form__text{
font-size: 16px;
color: #697E70;
line-height: 32px;
margin-top: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
width: 140%;
opacity: 0.6;
font-weight: lighter;
}

footer{
margin: 150px 205px 0 205px;
width: 1030px;
height: 377px;
}

.footer__line{
width: 1030px;
height: 2px;
background-color: #697E70;
}

.footer__main{
margin-top: 98px;
display: flex;
justify-content: space-between;
width: 100%;
}


.footer__main__item{
display: flex;
flex-direction: column;
}

.footer__main__item__text{
margin-top: 135px;
font-size: 18px;
line-height: 46px;
font-family: Source Sans Pro;
letter-spacing: 1px;
width: 150%;
color:#697E70;
font-weight: lighter;
}

.footer__main__item__text>a{
 color:#697E70;
}

.footer__main__item__title{
font-size: 40px;
letter-spacing: 2px;
font-family: Source Sans Pro;
opacity: 0.8;
color: #333333;
//  margin-top: 30px;
}

.footer__main__item > ul{
margin-top: 26px;
}

.footer__main__item > ul> li{
margin-top: 17px;
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
opacity: 0.8;
color: #333333;
font-weight: lighter;
}

.footer__main__item > ul> li>a{
color: #333333;
}

.footer__main__item > ul> li:first-child{
margin-top: 0;
}

.footer__main__item__button{
margin-top: 79px;
width: 251px;
height: 53px;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
background-color: #697E70;
color: white;
opacity: 0.6;
border-radius: 5px;
transition: all 1s ease;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-size: 20px;
}
.footer__main__item__square{
width: 53px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
border: 1px solid #DEDEDE;
margin-top: 34px;
transition: all 1s ease;
cursor: pointer;
}

.footer__main__item__square:first-child{
margin-top: 5px;
}

.footer__main__item__square-vk{
margin-top: 34px;
width: 53px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
border: 1px solid #DEDEDE;
transition: all 1s ease;
cursor: pointer;
}

.footer__main__item__square:hover{
background-color: #697E70;
}

.footer__main__item__square-vk:hover{
background-color: #697E70;
}

.footer__main__item__square:last-child:hover{
background-color: white;
}

.footer__main__item__logo{
background-color: #FFFFFF;
}

.header__logo{
background-color: white;
}

.footer__main__item__square:last-child{
margin-top: 100px;
}

.inst {
transition: all 1s ease;
}

.vk {
transition: all 1s ease;
}

.form__form__input:hover{
border: 1px solid #697E70;
padding-left: 20px;
border-radius: 5px;
}

input:enabled{
padding-left: 20px;
color: black;
font-weight: lighter;
}

input:placeholder-shown{
padding-left: 0px;
font-weight: lighter;
}

.location__main__item__popup__container__input{
letter-spacing: 1px;
font-size: 16px;
font-family: Source Sans Pro;
}

input::placeholder{
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-weight: lighter;
}

input{
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
}
.popup__container__input:hover{
border: 2px solid #DEDEDE;
padding-left: 20px;
border-radius: 5px;
background-color: white;
}


.leisure__main__item{
    height: 503px;
    margin-top: 90px;
}

.leisure__main__item:first-child{
    margin-top: 97px;
}

.leisure__main__item__notslider{
    display: flex;
}

.leisure__main__item__img{
    width: 505px;
    height: 439px;
    align-self: flex-end;
}

.leisure__main__item__text{
    margin-left: 70px;
}

.leisure__main__item__text__title{
    font-size: 40px;
    font-family: Source Sans Pro;
    letter-spacing: 3px;
    opacity: 0.8;
    color: #333333;
}

.leisure__main__item__text__text{
    width: 460px;
    line-height: 32px;
    margin-top: 15px;
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    color: #333333;
    font-weight: lighter;
}

.leisure__main__item__text__text-2{
    width: 500px;
}
.leisure__main__item__text__text-3{
    width: 500px;
}
.leisure__main__item__text__text-4{
width: auto;
}
.leisure__main__item__text__text-5{
    width: 490px;
    }
.leisure__main__item__text__text-6{
width: 500px;
}

.leisure__main__item__text-1{
    margin-top: 141px;
}
.leisure__main__item__text-2{
    margin-top: 144px;
}
.leisure__main__item__text-3{
    margin-top: 149px;
}
.leisure__main__item__text-4{
    margin-top: 94px;
}
.leisure__main__item__text-5{
    margin-top: 162px;
}
.leisure__main__item__text-6{
  margin-top: 103px;
}.leisure__main__item__text-7{
    margin-top: 118px;
  }

.leisure__main__item__text__addittion{
    margin-top: 7px;
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    color: #333333;
    font-weight: lighter;
}

.leisure__main__item__text__addittion-1{
margin-top: 110px;
}

.leisure__main__item__text__addittion-2{
    padding-top: 74px;
    }

 .leisure__main__item__text__addittion-3{
padding-top: 36px;
}
.leisure__main__item__text__addittion-4{
 padding-top: 27px;
}
 .leisure__main__item__text__addittion-5{
 padding-top: 125px;
 }
.leisure__main__item__text__addittion-6{
padding-top: 27px;
}

.leisure__main__item-6{
    margin-top: 80px;
}

.leisure__main__item__text-2{
    margin-top: 0;
}

.leisure__main__item__slider{
    display: flex;
    position: relative;
    top: 50px;
    width: 153px;
    background-color: transparent;
}

.leisure__main__item__img__item{
    width: 505px;
    height: 439px;
}

.leisure__main__item__img__line{
    width: 1010px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__line-3{
    width: 1010px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__line-4{
    width: 2020px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__line-2{
    width: 1515px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}


.leisure__main__item__img__line-6{
    width: 1515px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__line-7{
    width: 1515px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__line-5{
    width: 1010px;
    height: 439px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.leisure__main__item__img__container{
    width: 505px;
    height: 439px;
    overflow: hidden;
}

.leisure__main__item__img__container__item{
    width: 505px;
    height: 439px;
}

.leisure-item-1{
background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото рыбалки.jpg');
}
.leisure-item-2{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото рыбалки1.jpg');
}
.leisure-item-3{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото бани.jpg');
}
.leisure-item-4{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото бани2.jpg');
}
.leisure-item-5{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото бани3.jpg');
}
.leisure-item-6{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото активного отдыха.jpg');
}
.leisure-item-7{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото активного отдыха2.jpg');
}
.leisure-item-8{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото с озера.jpg');
}
.leisure-item-9{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото с озера2.jpg');
}
.leisure-item-10{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото с озера3.jpg');
}
.leisure-item-11{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/фото с озера4.jpg');
}
.leisure-item-12{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Барбекю.jpg');
}
.leisure-item-13{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Барбекю2.jpg');
}
.leisure-item-14{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Мероприятия.jpg');
}
.leisure-item-15{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Мероприятия2.jpg');
}
.leisure-item-16{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Мероприятия3.jpg');
}
.leisure-item-17{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/иверский.jpg');
}
.leisure-item-18{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/музей колоколов.jpg');
}
.leisure-item-19{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/аквапарк.jpg');
}

.leisure__main__item-2{
    display: flex;
}

.leisure__main__item__text-2{
margin-top: 144px;
}

 .leisure__main__item__text__addittion-69{
     width: 450px;
 }

.scroll{
    width: 60px;
    height: 0;
     border: 1px solid #697E70;
     position: relative;
     right: 60px;
 }
 
 .leisure__main__item__slider>button{
     display: flex;
     align-items: center;
     border: none;
     background-color: white;
 }
 
 .leisure__main__item__slider>button:last-child{
 position: relative;
 right: 20px;
 }
 
 .scroll-2{
     width: 60px;
     height: 0;
      border: 1px solid #697E70;
      position: relative;
      right: 61px;
 }

 .free{
     color: #697E70;
 }
.popup__container__input:hover{
    border: 2px solid #DEDEDE;
    padding-left: 20px;
    border-radius: 5px;
    background-color: white;
}

.popup{
    height: 626px;
    width: 1030px;
    background-color: #697E70;
    display: none;
    justify-content: center;
    position: absolute;
    top: 142px;
    left: 50%   ;
    margin-left: -515px;
    z-index: 1000;
    border-radius: 5px;
}

.popup__container{
    padding-top: 47px;
   width: 400px; 
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.popup__container__title{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: Source Sans Pro;
    opacity: 0.8;
}
.popup__container__callback{
    margin-top: 5px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: lighter;
}

.popup__container__inputs{
    margin-top: 37px;
}

.popup__container__input{
    width: 400px;
    height: 34px;
    background-color: #697E70;
    border: none;
    outline: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Source Sans Pro;
}

.popup__container__input:first-child{
    margin-top: 0;
}

.popup__container__input::placeholder{
   color: #DEDEDE;
}


.popup__container__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: 30px;
    border-radius: 7px;
    height: 60px;
    width: 400px;
    font-family: Source Sans Pro;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.4);
}

.popup__container__button:hover{
    background-color: nter;
    background-color: rgb(255, 255, 255, 255);
    color: #333333;
}


.popup__container__text{
    height: 89px;
    color: #DEDEDE;
    margin-top: 20px;
    line-height: 32px;
    font-size: 18px;
    font-family: Source Sans Pro;
    opacity: 0.6;
    font-weight: lighter;
}

.jesus{
    position: absolute;
    top: 20px;
    right: 45px;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.jesus > span,
.jesus > span::before{
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: rotate(45deg);
}
.jesus > span::before {
  content: '';
  top: 0;
  transform: rotate(90deg);
}

    .form__form__input:hover{
        border: 1px solid #697E70;
        padding-left: 20px;
        border-radius: 5px;
    }
    
    input:enabled{
        padding-left: 20px;
        color: black;
    }
    
    input:placeholder-shown{
        padding-left: 0px;
    }
    
    input::placeholder{
      font-size: 20px;
      font-family: Source Sans Pro;
      letter-spacing: 1px;
    }
    
    input{
        font-size: 20px;
        font-family: Source Sans Pro;
        letter-spacing: 1px;
    }
    .popup__container__input:hover{
        border: 2px solid #DEDEDE;
        padding-left: 20px;
        border-radius: 5px;
        background-color: white;
    }

    .greenbird{
        background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Icon feather-check.svg') no-repeat 365px;
        border: 2px solid #319352;
        border-radius: 5px;
        background-color: white;
        }
        
        .redjesus{
        background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 18.svg') no-repeat 365px,
         url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 17.svg') no-repeat 365px;
         border: 2px solid #DB7878;
         border-radius: 5px;
         background-color: white;
        }
        
    
    .keyup-popup{
        border-radius: 5px;
        background-color: white;
    }

    .form-popup__text{
        padding: 144px 0 0 50px;
        color: white;
    }
    
    .form-popup__text__title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    }
    
    .form-popup__text__text{
        margin-top: 5px;
        letter-spacing: 3px;
    }
    
    .thanks{
        position: absolute;
        top: 269px;
        left: 137px;
        color: #FFFFFF;
        display: none;
    }
    
    .thanks__title{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 40px;
    }
    
    .thanks__text{
        margin-top: 5px;
    }
    
    .thanks-popup{
        position: absolute;
        top: 269px;
        left: 137px;
        color: #FFFFFF;
        display: none;
    }
    
    .thanks-popup__title{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 40px;
    }
    
    .thanks-popup__text{
        margin-top: 5px;
    }
    
    .popup__container__input:hover{
        border: 2px solid #DEDEDE;
        padding-left: 20px;
        border-radius: 5px;
        background-color: white;
    }
    .form-popup{
        display: none;
         position: absolute;
         top: 4970px;
         left: 205px;
         background-color: #697E70;
         z-index: 300;
         width: 1030px;
         height: 377px;
         border-radius: 5px;
     }
     
     .form-popup__text{
         padding: 144px 0 0 50px;
         color: white;
     }
     
     .form-popup__text__title{
     text-transform: uppercase;
     font-family: Source Sans Pro;
     letter-spacing: 3px;
     font-size: 40px;
     }
     
     .form-popup__text__text{
         margin-top: 5px;
         letter-spacing: 3px;
         font-family: Source Sans Pro;
     }
     
     .thanks{
         position: absolute;
         top: 269px;
         left: 137px;
         color: #FFFFFF;
         display: none;
     }
     
     .thanks__title{
         text-transform: uppercase;
         letter-spacing: 3px;
         font-size: 40px;
         font-family: Source Sans Pro;
     }
     
     .thanks__text{
         margin-top: 5px;
         font-family: Source Sans Pro;
     }
     
     .thanks-popup{
         position: absolute;
         top: 269px;
         left: 137px;
         color: #FFFFFF;
         display: none;
     }
     
     .thanks-popup__title{
         text-transform: uppercase;
         letter-spacing: 3px;
         font-size: 40px;
         font-family: Source Sans Pro;
     }
     
     .thanks-popup__text{
         margin-top: 5px;
         font-family: Source Sans Pro;
     }  

     @media(max-width: 1439px){
        header{
            margin-left: 0;
            margin-right: 0;
            padding-top: 25px;
          margin: 0 auto;
            padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
        }
        .form{
            margin-top: 0;
            padding-left: 0;
            padding-top: 128px;
            padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
            margin: 0 auto;
        }
        .form-popup{
            width: 1000vh;
            height: 407px;
            left: 0;
        }
        footer{
            padding-top: 150px;
            padding-left: 0;
            padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
            margin: 0 auto;
            position: relative;
            top: 150px;
        }
        .leisure{
            margin: 0 auto;
        }
    }
    @media(max-width: 1030px){
       .footer__main__item:last-child{
           margin-right: 40px;
       }
       .footer__main__item:first-child{
        margin-left: 15px;
    }
    .form__title__title{
        width: 3000%;
    }
    .form__title__text{
        width: 3000%;
    }
    .menu{
     padding-right: 45px;
    }
    }
      @media(max-width: 767px){
        header{
            width: 100%;
            margin: 0 auto;
            height: 100px;
            box-shadow: 0 3px 10px #333333;
        }
       .header__container{
           max-width: none;
           margin: 0 auto;
           height: 80px;
           align-items: center;
           justify-content: center;
       }
      .header__button{
          position: absolute;
          top: 345px;
      margin-left: -130px;
         left: 50%;
         width: 259px;
         padding: 0 0 0 0;
         height: 60px;
         z-index: 3000;
         font-size: 16px;
         opacity: 1;
      }
      .header__logo{
          margin-left: -95px;
          position: absolute;
          left: 50%;
          top: 20px;
      }
      .menu__menu{
          display: none;
      }
      .menu{
          padding-right: 0;
          position: absolute;
       //   top: 50px;
      }
        .wrapper{
            height: 5488px;
        }
        .leisure  {    
      padding-top: 70px;
        width: 259px;
        margin: 0 auto;
    }

    .leisure__main__item-2{
        display: flex;
        flex-direction: column;
    }
    
    .leisure__main__item__text-2{
    margin-top: 0;
    }

    .title{
      position: relative;
      bottom: 20px;
        width: 259px;
        margin: 0 auto;
    }
    
    .title__title{
        font-size: 16px;
        padding-top: 150px;
    }
    
    .title__text{
        margin-top: 8px;
        line-height: 20px;
        font-size: 12px;
        width: 225px;
    }
    .leisure__main__item{
        height: auto;
        margin-top: 96px;
    }
    
    .leisure__main__item:first-child{
        margin-top: 160px;
    }
    
    .leisure__main__item__notslider{
        display: flex;
        flex-direction: column;
    }
    
    .leisure__main__item__img{
        width: 259px;
        height: 259px;
        align-self: flex-start;
    }
    
    .leisure__main__item__text{
        margin-left: 0;
    }
    
    .leisure__main__item__text__title{
        font-size: 16px;
        letter-spacing: 1px;
        position: relative;
        bottom: 317px;
    }
    
    .leisure__main__item__text__text{
        width: 250px;
        line-height: 20px;
        margin-top: 30px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .leisure__main__item__text__text-1{
        margin-top: 30px;
        width: 280px;
    }
    
    .leisure__main__item__text__text-2{
        width: 300px;
    }
    .leisure__main__item__text__text-3{
        width: 300px;
        position: relative;
        top: 30px;
    }
    .leisure__main__item__text__text-4{
    width: 280px;
    position: relative;
    top: 30px;
    }
    .leisure__main__item__text__text-5{
        width: 320px;
        position: relative;
        top: 18px;
        }
    .leisure__main__item__text__text-6{
    width: 280px;
    position: relative;
    top: 18px;
    }
    .leisure__main__item__text__text-7{
        width: 300px;
        position: relative;
        top: 18px;
        }
    
    .leisure__main__item__text-1{
        margin-top: 0;
    }
    .leisure__main__item__text-2{
        margin-top: 0;
        margin-top: 30px;
    }
    .leisure__main__item__text-3{
        margin-top: 0;
    }
    .leisure__main__item__text-4{
        margin-top: 0;
    }
    .leisure__main__item__text-5{
        margin-top: 0;
    }
    .leisure__main__item__text-6{
        margin-top: 0;
    }
    .leisure__main__item__text-7{
        margin-top: 0;
      }
    
    .leisure__main__item__text__addittion{
        margin-top: 7px;
        font-size: 12px;
        font-family: Source Sans Pro;
        letter-spacing: 1px;
        margin-top: 18px;
        width: 150%;
    }

    .leisure__item-2{
        margin-top: 25px;
    }

    .venik{
        margin-top: 8px;
    }
    
    .leisure__main__item__text__addittion-1{
    margin-top:0;
    }
    
    .leisure__main__item__text__addittion-2{
        padding-top: 0;
        }
    
     .leisure__main__item__text__addittion-3{
        padding-top: 18px;
    }
    .leisure__main__item__text__addittion-3>.leisure__main__item__text__addittion{
        margin-top: 8px;
    }
    .leisure__main__item__text__addittion-3>.leisure__main__item__text__addittion:first-child{
        margin-top: 30px;
    }
    .leisure__main__item__text__addittion-4{
       padding-top: 25px;
    }
     .leisure__main__item__text__addittion-4>.leisure__main__item__text__addittion{
        margin-top: 8px;
    }
    .leisure__main__item__text__addittion-4>.leisure__main__item__text__addittion:first-child{
        margin-top: 30px;
    }
     .leisure__main__item__text__addittion-5{
        padding-top: 21px;
     }
    .leisure__main__item__text__addittion-6{
        margin-top: 18px;
        padding: 0;
    }

    .leisure__main__item__text__addittion-6>.leisure__main__item__text__addittion{
        margin-top: 8px;
        max-width: 290px;
    }
    .leisure__main__item__text__addittion-6>.leisure__main__item__text__addittion:first-child{
        margin-top: 30px;
    }
    
    .leisure__main__item-6{
        margin-top: 96px;
    }
    
    .leisure__main__item__slider{
       top: 0;
    }

    .banya-title{
        position: relative;
      bottom: 337px;
    }

    .slider-1{
        position: relative;
        top: -129px;
    }
     
    .slider-2{
        position: relative;
        top: -170px;
    }

    .slider-3{
        position: relative;
        top: -200px;
    }
    .slider-4{
        position: relative;
        top: -255px;
    }
    .slider-5{
        position: relative;
        top: -115px;
    }
    .slider-6{
        position: relative;
        top: -210px;
    }
    .slider-7{
        position: relative;
        top: -130px;
    }

    .leisure__main__item__img__item{
        width: 259px;
        height: 259px;
    }
    
    .leisure__main__item__img__line{
        width: 518px;
        height: 259px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 1s;
    }
    
    .leisure__main__item__img__line-3{
        width: 518px;
        height: 259px;
    }
    
    .leisure__main__item__img__line-4{
        width: 1036px;
        height: 259px;
    }
    
    .leisure__main__item__img__line-2{
        width: 777px;
        height: 259px;
    }
    
    
    .leisure__main__item__img__line-6{
        width: 777px;
        height: 259px;
    }
    
    .leisure__main__item__img__line-7{
        width: 777px;
        height: 259px;
    }
    
    .leisure__main__item__img__line-5{
        width: 518px;
        height: 259px;
    }
    
    .leisure__main__item__img__container{
        width: 259px;
        height: 259px;
    }
    .leisure__main__item__img__container__item{
        width: 259px;
        height: 259px;
    }
    
    .leisure-item-1{
    background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото с рыбалкиmob.jpg');
    }
    .leisure-item-2{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото с рыбалкиmob2.jpg');
    }
    .leisure-item-3{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото баниmob.jpg');
    }
    .leisure-item-4{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото баниmob2.jpg');
    }
    .leisure-item-5{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото баниmob3.jpg');
    }
    .leisure-item-6{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Активный отдыхmob.jpg');
    }
    .leisure-item-7{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Активный отдыхmob2.jpg');
    }
    .leisure-item-8{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Отдых на озереmob.jpg');
    }
    .leisure-item-9{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Отдых на озереmob2.jpg');
    }
    .leisure-item-10{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Отдых на озереmob3.jpg');
    }
    .leisure-item-11{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Фото Отдых на озереmob4.jpg');
    }
    .leisure-item-12{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Барбекюmob.jpg');
    }
    .leisure-item-13{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Барбекюmob2.jpg');
    }
    .leisure-item-14{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Мероприятияmob.jpg');
    }
    .leisure-item-15{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Мероприятияmob2.jpg');
    }
    .leisure-item-16{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Мероприятияmob3.jpg');
    }
    .leisure-item-17{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Развлечение вне базыmob1.jpg');
    }
    .leisure-item-18{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Развлечение вне базыmob2.jpg');
    }
    .leisure-item-19{
        background-image: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Развлечение вне базыmob3.jpg');
    }
    .form{
        margin: 0 auto;
        max-width: 259px;
        max-height: 364px;
        flex-direction: column;
        padding-top: 70px;
    }
    
    .form__title{
        height: auto;
        width: 300px;
    }
    
    .form__title__title{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        width: 80%;
    }
    .form__title__text{
        margin-top: 8px;
        line-height: 20px;
        font-size: 12px;
        width: 250px;
    //     letter-spacing: 2px;
    }
    
    .form__form{
    max-width: 259px;
    margin-top: 28px;
    margin-left: 0;
    }
    
    .form__form__input{
    width: 259px;
    height: 26px;
    }
    
    .form__form__button{
    margin-top: 30px;
    min-height: 60px;
    border-radius: 5px;
    transition: all 1s ease;
    font-size: 16px;
    }
    .form__form__text{
    font-size: 6px;
    line-height: 16px;
    margin-top: 10px;
    width: 100%;
    }
    br{
    display: none;
    }
    footer{
        padding: 0px 0 0 0;
        margin: 0 auto;
        width: 259px;
        height: 456px;
        position: relative;
    }
    
    .footer__line{
        width: 259px;
    }
    
    .footer__main{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    
    .footer__main__item__text{
        margin: 294px 0 0 0;
        color: #697E70;
       position: absolute;
       font-size: 10px;
       left: 113px;
       width: 155px;
       line-height: 27px;
    }
    .footer__main__item__text>a{
        color: #697E70;
    }
    .footer__main__item:nth-child(2){
        margin: 0;
        align-self: flex-start;
      order: 2;
      position: absolute;
    margin-top: 156px;
     flex-direction: column-reverse;
    }
    
    .footer__main__item:nth-child(3){
        margin-left: 0;
        display: flex;
        flex-direction: column;
     align-items: flex-end;
    }
    
    .footer__main__item:nth-child(3)>.footer__main__item__title{
        margin-left: 55px;
        align-self: center;
    }
    
    .footer__main__item__ul{
    order: 2;
    }
    
    .footer__main__item:nth-child(4){
      display: flex;
      flex-direction: row;
      width: 259px;
      justify-content: space-between;
      order: 4;
      margin: 0 auto;
      margin-top: 100px;
    }
    
    .footer__main__item__title{
        font-size: 16px;
        order: 2;
        margin-top: 30px;
    }
    
    .footer__main__item > ul{
        margin-top: 18px;
    }
    
    .footer__main__item__ul-ref{
        position: relative;
        left: 20px;
     }
    .footer__main__item > ul> li{
        margin-top: 8px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;
    }
    
    .footer__main__item__button{
        margin-top: 30px;
        max-width: 259px;
        height: 50px;
        display: flex;
        order: 1;
        font-size: 16px;
        opacity: 1;
    }
    .footer__main__item__square{
        width: 53px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #DEDEDE;
        margin-top: 34px;
        transition: all 1s ease;
    }
    
    .footer__main__item__square:first-child{
        margin-top: 0;
    }
    
    .footer__main__item__square-vk{
        margin-top: 0;
        width: 53px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid #DEDEDE;
        transition: all 1s ease;
    }
    
    .footer__main__item__square:last-child{
        margin-top: 0;
    }
    .popup{
        height: 667px;
        width: 320px;
        background-color: #697E70;
        display: none;
        justify-content: center;
        position: absolute;
        top: 100px;
        left: 50%;
        margin: 0;
        margin-left: -160px;
        z-index: 1000;
        border-radius: 5px;
    }
    
    .popup__container{
        padding-top: 167px;
       width: 259px;
    }
    
    .popup__container__title{
        font-size: 24px;
        letter-spacing: 2px;
        width: 120%;
    }
    .popup__container__callback{
        font-size: 16px;
        margin-top: 7px;
    }
    
    .popup__container__inputs{
        margin-top: 28px;
    }
    
    .popup__container__input{
        width: 259px;
        height: 26px;
    }
    
    .popup__container__button{
        margin-top: 30px;
        width: 259px;
        font-size: 16px;
    }
    
    .popup__container__text{
        width: 270px;
        height: 25px;
        color: #DEDEDE;
        margin-top: 10px;
        line-height: 14px;
        letter-spacing: 1px;
        font-size: 6px;
  }
  .jesus{
    position: absolute;
    top: 44px;
    right: 0;
    left: 20px;
    height: 40px;
    width: 40px;
}

.form-popup{
    top: 4372px;
    left: 50%;
    width: 320px;
    height: 667px;
    margin-left: -160px;
}
.form-popup__text{
    padding: 291px 0 0 30px;
    color: white;
}

.form-popup__text__title{
text-transform: uppercase;
letter-spacing: 1px;
font-size: 24px;
width: 120%;
}

.form-popup__text__text{
    margin-top: 7px;
    letter-spacing: 1px;
    width: 280px;
}

.form__form__input:enabled{
   color: black;
}
.redjesus{
   background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 18.svg') no-repeat 238px,
    url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 17.svg') no-repeat 238px;
    border: none;
    border-bottom: 2px solid #DB7878;
    border-radius: 5px;
    background-color: inherit;
}
.keyup-popup{
   border: none;
   border-bottom: 2px solid #DEDEDE;
   border-radius: 5px;
   background-color: inherit;
}
.greenbird{
   background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Icon feather-check.svg') no-repeat 238px;
   border: none;
   border-bottom: 2px solid #319352;
   border-radius: 5px;
   background-color: inherit;
}
.popup__container__input:hover{
   border: none;
   border-bottom: 2px solid #DEDEDE;
   background-color: inherit;
}
input:enabled{
   color: white;
}
.thanks-popup{
   top: 291px;
   left: 30px;
}

.thanks-popup__title{
   font-size: 24px;
   letter-spacing: 1px;
   width: 120%;
   opacity: 0.8;
}

.thanks-popup__text{
   margin-top: 7px;
   font-size: 16px;
   line-height: 24px;
   width: 230px;
}
input::placeholder{
   font-size: 12px;
 }
 
 input{
     font-size: 12px;
     font-family: Source Sans Pro;
     letter-spacing: 1px;
 }
      }