*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

button {
border: none;
z-index: 2;
transition: all ease 1s;
cursor: pointer;
}

a{
    color: #333333;
    text-decoration: none;
}

.rdnpt{   
     color: #DB7878;
    margin-top: 5px;
    display: none;
    font-family: Source Sans Pro;
    font-size: 12px;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    height: 7421px;
    position: relative;
    z-index: 50;
    overflow: hidden;
}

header{
    width: 1035px;
     height: 93px;
     margin: 25px 205px 0 205px;
 }
 
 .header__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header__button{
    width: 190px;
     height: 53px;
     border-radius: 6px;
     color: white;
     background-color: #697E70;
     text-transform: uppercase;
     opacity: 0.8;
     font-family: Source Sans Pro;
     font-size: 20px;
 }
 
 .header__button:hover{
     opacity: 1;
 }
 
 .header__logo{
     margin-left: 203px;
 }
 
 .menu__menu{
    padding-right: 32px;
    font-family: Source Sans Pro;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #333333;
    margin-left: 270px;
    cursor: pointer;
    font-weight: lighter;
}

.menu__menu__btn {
    display: flex; 
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
  }

  .menu__menu__btn-close{
    display: flex; 
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;
  }

.menu__menu__btn-close > span,
  .menu__menu__btn-close > span::before{
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #616161;
  transform: rotate(45deg);
  
}
.menu__menu__btn-close > span::before {
  content: '';
  transform: rotate(90deg);
}

.navbar{
    position: absolute;
    top: 0;
    width: 359px;
    padding-left: 40px;
    padding-top: 59px;
    height: 800px;
    overflow-y: auto;
    right: 0;
    z-index: 100;
    display: none;
    background-color: white;
}

.menu__menu__btn > span,
.menu__menu__btn > span::before{
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #616161;
}
.menu__menu__btn > span::before {
  content: '';
  top: -3px;
}

.navbar>ul{
    margin-top: 49px;
}

.navbar>ul>li{
margin-top: 26px;
font-family: Source Sans Pro;
font-size: 30px;
letter-spacing: 3px;
line-height: 43px;
opacity: 0.6;
color: #333333;
font-weight: lighter;
}

.navbar>ul>li:hover{
   opacity: 0.8;
    }

.navbar__button{
    width: 190px;
    height: 60px;
    border-radius: 7px;
    background-color: #697E70;
    color: white;
    margin-top: 123px;
    font-family: Source Sans Pro;
font-size: 20px;
letter-spacing: 1px;
}

.form{
    margin: 128px 0px 0 205px;
    max-width: 1030px;
    max-height: 377px;
    display: flex;
}

.form__title{
    max-height: 100%;
    display: flex;
    justify-content: center;
    max-width: 630px;
    flex-direction: column;
}

.form__title__title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Source Sans Pro;
    width: 110%;
    opacity: 0.8;
}

.form__title__text{
    margin-top: 15px;
    color: #333333;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-size: 20px;
    width: 120%;
    font-weight: lighter;
}

.form__form{
width: 400px;
display: flex;
flex-direction: column;
margin-left: 158px;
}

.form__form__input{
width: 400px;
height: 40px;
border: none;
border-bottom: 1px solid #707070;
margin-top: 20px;
outline: none;
transition: all ease 0.25s;
}

.form__form__input:first-child{
margin-top: none;
}

.form__form__button{
display: flex;
align-items: center;
justify-content: center;
background-color: #697E70;
margin-top: 50px;
opacity: 0.2;
color: white;
min-height: 60px;
border-radius: 5px;
transition: all 1s ease;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-size: 20px;
}

.form__form__button:hover{
opacity: 1;
}

.form__form__text{
font-size: 16px;
color: #697E70;
line-height: 32px;
margin-top: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
width: 140%;
opacity: 0.6;
font-weight: lighter;
}

footer{
margin: 150px 205px 0 205px;
width: 1030px;
height: 377px;
}

.footer__line{
width: 1030px;
height: 2px;
background-color: #697E70;
}

.footer__main{
margin-top: 98px;
display: flex;
justify-content: space-between;
width: 100%;
}


.footer__main__item{
display: flex;
flex-direction: column;
}

.footer__main__item__text{
margin-top: 135px;
font-size: 18px;
line-height: 46px;
font-family: Source Sans Pro;
letter-spacing: 1px;
width: 150%;
color:#697E70;
font-weight: lighter;
}

.footer__main__item__text>a{
 color:#697E70;
}

.footer__main__item__title{
font-size: 40px;
letter-spacing: 2px;
font-family: Source Sans Pro;
opacity: 0.8;
color: #333333;
//  margin-top: 30px;
}

.footer__main__item > ul{
margin-top: 26px;
}

.footer__main__item > ul> li{
margin-top: 17px;
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
opacity: 0.8;
color: #333333;
font-weight: lighter;
}

.footer__main__item > ul> li>a{
color: #333333;
}

.footer__main__item > ul> li:first-child{
margin-top: 0;
}

.footer__main__item__button{
margin-top: 79px;
width: 251px;
height: 53px;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
background-color: #697E70;
color: white;
opacity: 0.6;
border-radius: 5px;
transition: all 1s ease;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-size: 20px;
}
.footer__main__item__square{
width: 53px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
border: 1px solid #DEDEDE;
margin-top: 34px;
transition: all 1s ease;
cursor: pointer;
}

.footer__main__item__square:first-child{
margin-top: 5px;
}

.footer__main__item__square-vk{
margin-top: 34px;
width: 53px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
border: 1px solid #DEDEDE;
transition: all 1s ease;
cursor: pointer;
}

.footer__main__item__square:hover{
background-color: #697E70;
}

.footer__main__item__square-vk:hover{
background-color: #697E70;
}

.footer__main__item__square:last-child:hover{
background-color: white;
}

.footer__main__item__logo{
background-color: #FFFFFF;
}

.header__logo{
background-color: white;
}

.footer__main__item__square:last-child{
margin-top: 100px;
}

.inst {
transition: all 1s ease;
}

.vk {
transition: all 1s ease;
}

.form__form__input:hover{
border: 1px solid #697E70;
padding-left: 20px;
border-radius: 5px;
}

input:enabled{
padding-left: 20px;
color: black;
font-weight: lighter;
}

input:placeholder-shown{
padding-left: 0px;
font-weight: lighter;
}

input::placeholder{
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
font-weight: lighter;
}

input{
font-size: 20px;
font-family: Source Sans Pro;
letter-spacing: 1px;
}
.popup__container__input:hover{
border: 2px solid #DEDEDE;
padding-left: 20px;
border-radius: 5px;
background-color: white;
}
        .form-popup{
            display: none;
             position: absolute;
             top: 6387px;
             left: 205px;
             background-color: #697E70;
             z-index: 300;
             width: 1030px;
             height: 377px;
             border-radius: 5px;
         }
         
         .form-popup__text{
             padding: 144px 0 0 50px;
             color: white;
         }
         
         .form-popup__text__title{
         text-transform: uppercase;
         font-family: Source Sans Pro;
         letter-spacing: 3px;
         font-size: 40px;
         }
         
         .form-popup__text__text{
             margin-top: 5px;
             letter-spacing: 3px;
             font-family: Source Sans Pro;
         }
         
         .thanks{
             position: absolute;
             top: 269px;
             left: 137px;
             color: #FFFFFF;
             display: none;
         }
         
         .thanks__title{
             text-transform: uppercase;
             letter-spacing: 3px;
             font-size: 40px;
             font-family: Source Sans Pro;
         }
         
         .thanks__text{
             margin-top: 5px;
             font-family: Source Sans Pro;
         }
         
         .thanks-popup{
             position: absolute;
             top: 269px;
             left: 137px;
             color: #FFFFFF;
             display: none;
         }
         
         .thanks-popup__title{
             text-transform: uppercase;
             letter-spacing: 3px;
             font-size: 40px;
             font-family: Source Sans Pro;
         }
         
         .thanks-popup__text{
             margin-top: 5px;
             font-family: Source Sans Pro;
         }  
        

.jesus{
    position: absolute;
    top: 20px;
    right: 45px;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.title{
    margin: 215px 0 0 205px;
}

.title__title{
    font-size: 40px;
    font-family: Source Sans Pro;
    letter-spacing: 3px;
    opacity: 0.8;
    color: #333333;
}

.title__text{
    line-height: 32px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    color: #333333;
    font-weight: lighter;
}

.title__breakfasts{
    margin-top: 95px;
}

.title__breakfasts__title{
    font-size: 40px;
    text-transform: uppercase;
    font-family: Source Sans Pro;
    letter-spacing: 3px;
    opacity: 0.8;
    color: #333333;
}

.title__breakfasts__item{
    margin-top: 45px;
}

.title__breakfasts__item__title__text{
    line-height: 32px;
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    color: #333333;
    font-weight: lighter;
}

.title__breakfasts__item__title__main{
    display: flex;
    width: 505px;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    color: #333333;
}

.title__breakfasts__item__list{
    margin-top: 20px;
}

.title__breakfasts__item__text__item{
    display: flex;
    width: 505px;
    justify-content: space-between;
    margin-top: 10px;
}

.title__breakfasts__item__title__text__main{
    font-size: 40px;
    font-style: italic;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    opacity: 0.8;
    color: #333333;
}

.title__breakfasts__item__title__price{
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    position: relative;
    left: 293px;
    color: #333333;
    font-weight: lighter;
}

.title__crisps{
    margin-top: 98px;
}

.title__salats{
    margin-top: 98px;
}

.title__salats__item__description{
    line-height: 32px;
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-style: italic;
    color: #333333;
    font-weight: lighter;
}

.title__breakfasts__item__title__text__main__big{
    font-size: 40px;
    width: 443px;
    height: 105px;
    line-height: 48px;
    opacity: 0.8;
}

.title__breakfasts__item__title__text__description{
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: lighter;
    color: #333333;
}

.title__breakfasts__item__title__addittion{
    font-size: 20px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: lighter;
    color: #333333;
}

.popup{
    height: 626px;
    width: 1030px;
    background-color: #697E70;
    display: none;
    justify-content: center;
    position: absolute;
    top: 142px;
    left: 50%   ;
    margin-left: -515px;
    z-index: 1000;
    border-radius: 5px;
}

.popup__container{
    padding-top: 47px;
   width: 400px; 
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.popup__container__title{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: Source Sans Pro;
    opacity: 0.8;
}
.popup__container__callback{
    margin-top: 5px;
    color: white;
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: lighter;
}

.popup__container__inputs{
    margin-top: 37px;
}

.popup__container__input{
    width: 400px;
    height: 34px;
    background-color: #697E70;
    border: none;
    outline: none;
    border-bottom: 2px solid #DEDEDE;
    color: #DEDEDE;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: Source Sans Pro;
}

.popup__container__input:first-child{
    margin-top: 0;
}

.popup__container__input::placeholder{
   color: #DEDEDE;
}


.popup__container__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: 30px;
    border-radius: 7px;
    height: 60px;
    width: 400px;
    font-family: Source Sans Pro;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.4);
}

.popup__container__button:hover{
    background-color: nter;
    background-color: rgb(255, 255, 255, 255);
    color: #333333;
}


.popup__container__text{
    height: 89px;
    color: #DEDEDE;
    margin-top: 20px;
    line-height: 32px;
    font-size: 18px;
    font-family: Source Sans Pro;
    opacity: 0.6;
    font-weight: lighter;
}

.greenbird{
    background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Icon feather-check.svg') no-repeat 365px;
    border: 2px solid #319352;
    border-radius: 5px;
    background-color: white;
}

.redjesus{
    background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 18.svg') no-repeat 365px,
     url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 17.svg') no-repeat 365px;
     border: 2px solid #DB7878;
     border-radius: 5px;
     background-color: white;
}

.keyup-popup{
border-radius: 5px;
background-color: white;
}

.popup__keyup-popup{
    border: none;
    border-bottom:  2px solid #DEDEDE;
border-radius: 5px;
background-color: inherit;
}

@media(max-width: 1439px){
    header{
        margin-left: 0;
        margin-right: 0;
        padding-top: 25px;
      margin: 0 auto;
        padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
    }
    .form{
        margin-top: 0;
        padding-left: 0;
        padding-top: 128px;
        padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
        margin: 0 auto;
    }
    .form-popup{
        width: 1000vh;
        height: 407px;
        left: 0;
        top: 6360px;
    }
    footer{
        padding-top: 150px;
        padding-left: 0;
        padding: calc(30px + (205px - 30px) * ((100vh - 30px) / (1440 - 320)));
        margin: 0 auto;
        position: relative;
        top: 150px;
    }
    .title{
        padding-top: 215px;
        margin: 0 auto;
        width: 840px;
    }
}
@media(max-width: 1030px){
   .footer__main__item:last-child{
       margin-right: 40px;
   }
   .footer__main__item:first-child{
    margin-left: 15px;
}
.form__title__title{
    width: 3000%;
}
.form__title__text{
    width: 3000%;
}
.menu{
 padding-right: 45px;
}
}
  @media(max-width: 767px){
    header{
        width: 100%;
        margin: 0 auto;
        height: 100px;
        box-shadow: 0 3px 10px #333333;
    }
   .header__container{
       max-width: none;
       margin: 0 auto;
       height: 80px;
       align-items: center;
       justify-content: center;
   }
   .header__button{
       position: absolute;
       top: 345px;
   margin-left: -130px;
      left: 50%;
      width: 259px;
      height: 60px;
      z-index: 3000;
      font-size: 16px;
      opacity: 1;
   }
   .header__logo{
       margin-left: -95px;
       position: absolute;
       left: 50%;
       top: 20px;
   }
   .menu__menu{
       display: none;
   }
   .menu{
       position: absolute;
       top: 35px;
       padding-right: 0;
   }
   .menu__menu__btn{
       position: absolute;
       top: 5px;
   }
  .wrapper{
      height: 5624px;
  }
  .form{
      margin: 0 auto;
      width: 259px;
      height: 364px;
      flex-direction: column;
      padding-top: 90px;
  }
  
  .form__title{
      height: auto;
      width: 300px;
  }
  
  .form__title__title{
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
      width: 80%;
  }
  .form__title__text{
      margin-top: 8px;
      line-height: 20px;
      font-size: 12px;
      width: 250px;
  //     letter-spacing: 2px;
  }
  
  .form__form{
  max-width: 259px;
  margin-top: 28px;
  margin-left: 0;
  }
  
  .form__form__input{
  width: 259px;
  height: 26px;
  }
  
  .form__form__button{
  margin-top: 30px;
  min-height: 60px;
  border-radius: 5px;
  transition: all 1s ease;
  font-size: 16px;
  }
  .form__form__text{
  font-size: 6px;
  line-height: 16px;
  margin-top: 10px;
  width: 100%;
  }
  br{
  display: none;
  }
  footer{
      padding: 0px 0 0 0;
      margin: 0 auto;
      width: 259px;
      height: 456px;
      position: relative;
  }
  
  .footer__line{
      width: 259px;
  }
  
  .footer__main{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
  }
  
  .footer__main__item__text{
      margin: 294px 0 0 0;
      color: #697E70;
     position: absolute;
     font-size: 10px;
     left: 113px;
     width: 155px;
     line-height: 27px;
  }
  .footer__main__item__text>a{
      color: #697E70;
  }
  .footer__main__item:nth-child(2){
      margin: 0;
      align-self: flex-start;
    order: 2;
    position: absolute;
  margin-top: 156px;
   flex-direction: column-reverse;
  }
  
  .footer__main__item:nth-child(3){
      margin-left: 0;
      display: flex;
      flex-direction: column;
   align-items: flex-end;
  }
  
  .footer__main__item:nth-child(3)>.footer__main__item__title{
      margin-left: 55px;
      align-self: center;
  }
  
  .footer__main__item__ul{
  order: 2;
  }
  
  .footer__main__item:nth-child(4){
    display: flex;
    flex-direction: row;
    width: 259px;
    justify-content: space-between;
    order: 4;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .footer__main__item__title{
      font-size: 16px;
      order: 2;
      margin-top: 30px;
  }
  
  .footer__main__item > ul{
      margin-top: 18px;
  }
  
  .footer__main__item__ul-ref{
    position: relative;
    left: 20px;
 }
  
  .footer__main__item > ul> li{
      margin-top: 8px;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 1px;
  }
  
  .footer__main__item__button{
      margin-top: 30px;
      max-width: 259px;
      height: 50px;
      display: flex;
      order: 1;
      font-size: 16px;
      opacity: 1;
  }
  .footer__main__item__square{
      width: 53px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid #DEDEDE;
      margin-top: 34px;
      transition: all 1s ease;
  }
  
  .footer__main__item__square:first-child{
      margin-top: 0;
  }
  
  .footer__main__item__square-vk{
      margin-top: 0;
      width: 53px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid #DEDEDE;
      transition: all 1s ease;
  }
  
  .footer__main__item__square:last-child{
      margin-top: 0;
  }
.popup{
    height: 667px;
    width: 320px;
    background-color: #697E70;
    display: none;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 50%;
    margin: 0;
    margin-left: -160px;
    z-index: 1000;
    border-radius: 5px;
}

.popup__container{
    padding-top: 167px;
   width: 259px;
}

.popup__container__title{
    font-size: 24px;
    letter-spacing: 2px;
    width: 120%;
}
.popup__container__callback{
    font-size: 16px;
    margin-top: 7px;
}

.popup__container__inputs{
    margin-top: 28px;
}

.popup__container__input{
    width: 259px;
    height: 26px;
}

.popup__container__button{
    margin-top: 30px;
    width: 259px;
    font-size: 16px;
}

.popup__container__text{
    width: 270px;
    height: 25px;
    color: #DEDEDE;
    margin-top: 10px;
    line-height: 14px;
    letter-spacing: 1px;
    font-size: 6px;
}
.jesus{
position: absolute;
top: 44px;
right: 0;
left: 20px;
height: 40px;
width: 40px;
}

.form-popup{
top: 4468px;
left: 50%;
width: 320px;
height: 667px;
margin-left: -160px;
}
.form-popup__text{
padding: 291px 0 0 30px;
color: white;
}

.form-popup__text__title{
text-transform: uppercase;
letter-spacing: 1px;
font-size: 24px;
width: 120%;
}

.form-popup__text__text{
margin-top: 7px;
letter-spacing: 1px;
width: 280px;
}

.form__form__input:enabled{
color: black;
}
.keyup-popup{
border: none;
border-bottom: 2px solid #DEDEDE;
border-radius: 5px;
background-color: inherit;
}
.popup__container__input:hover{
border: none;
border-bottom: 2px solid #DEDEDE;
background-color: inherit;
}
input:enabled{
color: white;
}
.thanks-popup{
top: 291px;
left: 30px;
}

.thanks-popup__title{
font-size: 24px;
letter-spacing: 1px;
width: 120%;
opacity: 0.8;
}

.thanks-popup__text{
margin-top: 7px;
font-size: 16px;
line-height: 24px;
width: 230px;
}
input::placeholder{
font-size: 12px;
}

input{
 font-size: 12px;
 font-family: Source Sans Pro;
 letter-spacing: 1px;
}
.thanks{
top: 291px;
left: 30px;
}

.thanks__title{
font-size: 24px;
letter-spacing: 1px;
}

.thanks__text{
margin-top: 7px;
    font-size: 16px;
    line-height: 24px;
    width: 230px;
}
      .title{
   padding: 100px 0 0 0;
   margin: 0 auto;
   width: 259px;
}

.title__title{
    font-size: 16px;
}

.title__text{
    line-height: 20px;
    margin-top: 8px;
    font-size: 12px;
    width: 150%;
}

.title__breakfasts{
    margin-top: 175px;
}

.title__breakfasts__title{
    font-size: 16px;
    letter-spacing: 1px;
}

.title__breakfasts__item{
    margin-top: 50px;
}

.title__breakfasts__item__title__text{
    line-height: 24px;
    font-size: 12px;
}

.title__breakfasts__item__title__title{
    width: 150%;
}

.title__breakfasts__item__title__main{
    display: flex;
    width: 259px;
    justify-content: space-between;
    height: 22px;
    align-items: center;
}

.title__breakfasts__item__list{
    margin-top: 10px;
}

.title__breakfasts__item__text__item{
    display: flex;
    width: 259px;
    justify-content: space-between;
    margin-top: 10px;
}

.title__breakfasts__item__title__text__main{
    font-size: 16px;
}

.title__breakfasts__item__title__price{
    font-size: 12px;
    left: 50px;
    width: 40px;
}

.title__crisps{
    margin-top: 98px;
}

.title__salats{
    margin-top: 98px;
}

.title__salats__item__description{
    line-height: 24px;
    font-size: 12px;
    width: 250px;
}

.title__breakfasts__item__title__text__main__big{
    font-size: 40px;
    width: 443px;
    height: 105px;
    line-height: 48px;
}

.title__breakfasts__item__title__text__description{
    font-size: 12px;
}

.title__breakfasts__item__title__addittion{
    font-size: 12px;
}
.greenbird{
    background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Icon feather-check.svg') no-repeat 238px;
    border: none;
    border-bottom: 2px solid #319352;
    border-radius: 5px;
    background-color: inherit;
}
.redjesus{
    background: url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 18.svg') no-repeat 238px,
     url('/Users/maksimkarpac/Desktop/Berendeevo/assets/Линия 17.svg') no-repeat 238px;
     border: none;
     border-bottom: 2px solid #DB7878;
     border-radius: 5px;
     background-color: inherit;
}
 }